/* general style */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    max-width: 100vw;
    font-size: 20px;
}

.container{
    width: 1080px;
    margin:auto;
    display: flex;
}

.row{
    display: flex;
    width: 100%;
}

a{
    color: inherit;
    text-decoration: none;
    font-size: inherit;
    font-weight: inherit;
}

.scuro{
    background-color: rgb(35,39,42);
}

/* bottoni */

button{
    border-radius: 30px;
    padding: 15px 20px;
    font-size: 15px;
    font-weight:600;
    border: none;
}

button.white{
    background-color: white;
    color: black;
}

button.black{
    background-color: black;
    color: white;
}

button.blue{
    background-color: rgb(118, 157, 255);
    color: white;
}

/* grandezza colonne */

/* percentuali col */

.col{
    width: 100%;
}

.col-20{
    width: 20%;
    padding: 6px;
}

.col-35{
    width: 40%;
}

.col-65{
    width: 60%;
    padding: 6px;
}

/* frazioni col */

.col-1su3{
    width: calc(100% / 3);
}

.col-1su6{
    width: calc(100% / 6);
}

/* fine grandezza colonne */

/* elementi temporanei */

.pink{
    background-color: rgb(240,128,128);
}

.scieleste{
    background-color: rgb(32,178,170);
}

.scieleste-foot{
    background-color: rgb(127,255,212);
}     

.rosetto{
    background-color: rgb(255,182,193);
}

/* fine elementi temporanei */

/* testo */

.text-align-right{
    text-align: end;
}

.text-align-left{
    text-align: start;
}

.text-align-center{
    text-align: center;
}

/* nav style */

nav{
    background-color: rgb(37,94,233);
    padding: 10px 0;
}

nav .row{
    align-items: center;
}

nav ul{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

nav li{
    text-decoration: none;
    color: white;
    font-weight: 600;
}

nav button a{
    font-size: 18px;
}

/* jumbotron style */

.jumbotron{
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-position: top;
    padding: 160px 0;
    color: white;
    font-weight: 500;
}

.jumbotron>.container{
    width: 880px;
}

.bottoni-jumbo{
    display: flex;
    justify-content: center;
    font-size: 18px;
    font-weight: 500;
}

.bottoni-jumbo>*{
    margin: 0 15px;
}

.jumbotron .col{
    justify-content: center;
}

/* .jumbotron>.container>.row>.col>*{
    margin: 50px 0;
} */

h2{
    margin: 20px 0 50px 0;
    font-size: 50px;
}

.jumbotron p{
    margin: 50px 0 30px 0;
}

/* main */

main>.section:nth-of-type(even){
    background-color: rgb(231, 231, 231);
}

main .container{
    padding: 30px 0;
}

.col-65>img{
    width: 90%;
    background-color: white;
}

.col>img{
    width: 100%;
}

.waves{
    width: 100%;
    height: 80px;
    margin: 0;
    background-color: white;
    color: rgb(231, 231, 231);  ;
}

.waves.girato{
    transform: rotate(180deg);
}

.download{
    background-image: url(../img/stars.svg);
    background-repeat: no-repeat;
    background-position: top center;
    padding: 40px;
}

.download button{
    margin: 15px;
}

.bottom-nav{
    padding: 15px 0 0 0;
    color: white;
}

.bottom-nav .container{
    border-bottom: 1px #7289da solid;
    margin-bottom: 0;
}

.bottom-nav h2,.bottom-nav h3{
    color: #7289da;
}

.bottom-nav h2{
    font-size: 35px;
}

.bottom-nav h3{
    font-weight: 800;
}

.lingua{
    display: flex;
    align-items: center;
}

.lingua>img{
    width: 30px;
}

.lingua>select{
    border: none;
    background-color: inherit;
    color: inherit;
}

.social{
    margin-top: 25px;
}

.anim{
    margin: 0 20px 0 0;
}

ul{
    margin: 30px 0 0 0;
    font-weight: 700;
}

ul>li{
    list-style: none;
    margin: 20px 0;
}

/* footer */

footer{
    padding-top: 25px;
}

footer>.container{
    height: fit-content;
    padding:20px auto
}

footer>.container>.row{
    justify-content: space-between;
    align-items: center;
}

.col-adapt{
    height: fit-content;
    padding: 6px 9px;
}

footer button{
    margin-bottom: 5px;
}
