/* general style */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    max-width: 100vw;
    font-size: 20px;
}

.container{
    width: 1190px;
    margin:auto;
    display: flex;
}

/* bottoni */

.row{
    display: flex;
    width: 100%;
}

button{
    border-radius: 30px;
    padding: 15px;
    font-size: inherit;
    font-weight: inherit;
}

button.white{
    background-color: white;
    color: black;
}

button.black{
    background-color: black;
    color: white;
}

a{
    color: inherit;
    text-decoration: none;
    font-size: inherit;
    font-weight: inherit;
}

/* grandezza colonne */

/* percentuali col */

.col{
    width: 100%;
}

.col-20{
    width: 20%;
    padding: 6px;
}

.col-40{
    width: 40%;
}

.col-60{
    width: 60%;
    padding: 6px;
}

/* frazioni col */

.col-1su3{
    width: calc(100% / 3);
}

.col-1su6{
    width: calc(100% / 6);
}

/* fine grandezza colonne */

/* elementi temporanei */

.lightpink{
    background-color: rgb(255,192,203);
}

.lightblue{
    background-color: rgb(30,144,255);
}
.pink{
    background-color: rgb(240,128,128);
}

.scieleste{
    background-color: rgb(32,178,170);
}

.scieleste-foot{
    background-color: rgb(127,255,212);
}     

.rosetto{
    background-color: rgb(255,182,193);
}

.green{
    background-color: rgb(34,139,34);
}

.scuro{
    background-color: rgb(35,39,42);
}

.dashed{
    border: dashed black 3px;
}

/* fine elementi temporanei */

/* testo */

.text-align-right{
    text-align: end;
}

.text-align-left{
    text-align: start;
}

.text-align-center{
    text-align: center;
}

/* nav style */

nav{
    background-color: rgb(37,94,233);
    padding: 10px 0px;
}

nav .row{
    align-items: center;
}

nav ul{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

nav li{
    text-decoration: none;
    color: white;
    font-weight: 600;
}

nav button a{
    font-size: 18px;
}

/* jumbotron style */

.jumbotron{
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-position: center;
    padding: 200px 0;
    color: white;
    font-weight: 500;
}

.jumbotron>.container{
    width: 880px;
}

.bottoni-jumbo{
    display: flex;
    justify-content: center;
    font-size: 18px;
    font-weight: 500;
}

.jumbotron .col{
    justify-content: center;
}

/* .jumbotron>.container>.row>.col>*{
    margin: 50px 0;
} */

.jumbotron h1{
    margin: 0 0 50px 0;
    font-size: 50px;
}

.jumbotron p{
    margin: 50px 0 30px 0;
}



/* main */

main>.section{
    padding: 40px 0;
}

main>.section:nth-child(even){
    background-color: rgb(211,211,211);
}

main>.section:nth-last-child(2)>.container{
    height: 800px;
}

.bottom-nav{
    padding: 15px 0 40px 0;
    border-bottom: 3px white solid;
}

/* footer */

footer{
    padding-top: 25px;
}

footer>.container{
    height: fit-content;
    padding: 20px 0;
}

footer>.container>.row{
    justify-content: space-between;
}

.col-adapt{
    height: fit-content;
    padding: 6px 9px;
}